root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.sh]
indent_size = 4

[{*.bat,*.cmd}]
end_of_line = crlf

[*.go]
# gofmt defaults to LF for all the platforms: https://github.com/golang/go/issues/16355
end_of_line = lf

[*.md]
# Trailing whitespace is important in Markdown (they distinguish a new line from a new paragraph)
trim_trailing_whitespace = false

[{go.mod,go.sum,*.go,.gitmodules}]
indent_size = 4
indent_style = tab

[Dockerfile]
indent_size = 4

[*.py]
indent_size = 4

[*.{yml,yaml}]
indent_style = space
indent_size = 2
