name: Reusable Consul Tests

on:
  workflow_dispatch:
    inputs:
      repository_name:
        description: 'Repository with Consul service'
        required: false
        type: string
        default: 'Netcracker/qubership-consul'
      service_branch:
        description: 'Branch of qubership-consul repository'
        required: false
        type: string
        default: 'main'
      pipeline_branch:
        description: 'Branch of qubership-test-pipelines repository'
        type: string
        required: true
        default: 'main'
      runner_type:
        description: 'Runner type (self-hosted or ubuntu-latest)'
        type: string
        required: false
        default: 'ubuntu-latest'
  workflow_call:
    inputs:
      repository_name:
        description: 'Repository with Consul service'
        required: false
        type: string
        default: 'Netcracker/qubership-consul'
      service_branch:
        description: 'Branch of qubership-consul repository'
        required: false
        type: string
        default: 'main'
      pipeline_branch:
        description: 'Branch of qubership-test-pipelines repository'
        type: string
        required: true
        default: 'main'
      runner_type:
        description: 'Runner type (self-hosted or ubuntu-latest)'
        type: string
        required: false
        default: 'ubuntu-latest'
    secrets:
      AWS_S3_ACCESS_KEY_ID:
        required: true
      AWS_S3_ACCESS_KEY_SECRET:
        required: true

jobs:
  prepare:
    runs-on: ${{ inputs.runner_type }}
    outputs:
      versions: ${{ steps.process-versions.outputs.versions }}
      matrix: ${{ steps.process-versions.outputs.matrix }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: '${{ inputs.service_branch }}'
          repository: '${{ inputs.repository_name }}'
          path: 'qubership-consul'

      - name: Checkout pipeline
        uses: actions/checkout@v5
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: 'netcracker/qubership-test-pipelines'
          path: 'qubership-test-pipelines'

      - name: Get latest tag
        id: get-latest-tag
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          LATEST_TAG=$(gh api repos/${{ inputs.repository_name }}/releases/latest --jq '.tag_name')
          echo "latest_tag=$LATEST_TAG" >> $GITHUB_OUTPUT
          echo "Latest tag: $LATEST_TAG"

      - name: Process versions file and matrix generation
        id: process-versions
        working-directory: "${{ github.workspace }}/qubership-test-pipelines"
        run: |
          chmod +x ./scripts/matrix.sh
          ./scripts/matrix.sh "${{ steps.get-latest-tag.outputs.latest_tag }}" ./workflow-config/consul.yaml "${{ inputs.service_branch }}"

  Consul-Test-Cases:
    needs: prepare
    runs-on: ${{inputs.runner_type}}
    strategy:
      fail-fast: false
      matrix:
        test: ${{ fromJson(needs.prepare.outputs.matrix) }}
    name: ${{ matrix.test.name }}
    steps:
      # == 01 Start ======= Common pre-steps for all tests =======
      - name: "Print job parameters"
        run: |
          echo "======== Job parameters ======="
          echo "${{ toJson(matrix.test) }}"

      - name: Checkout pipeline
        uses: actions/checkout@v5
        with:
          ref: '${{inputs.pipeline_branch}}'
          repository: 'netcracker/qubership-test-pipelines'
          path: 'qubership-test-pipelines'
      - name: Create cluster
        uses: ./qubership-test-pipelines/actions/shared/create_cluster
      # == 01 End ======= Common pre-steps for all tests =======

      # == Start ======= Specific steps for S3-TLS =======
      - name: S3-TLS specific step
        if: matrix.test.backend == 's3-tls'
        run: |
          echo "::group::Describe nodes"
          kubectl describe nodes
          echo "::endgroup::"
          echo "::group::Install cert-manager"
          helm repo add jetstack https://charts.jetstack.io --force-update
          helm upgrade --install cert-manager jetstack/cert-manager --namespace cert-manager \
            --create-namespace --version v1.16.3 --set prometheus.enabled=true   --set crds.enabled=true
          echo "::endgroup::"
          echo "::group::Create cert-manager entities"
          kubectl apply -f qubership-test-pipelines/resources/test-issuer.yaml
          sleep 10s
          kubectl apply -f qubership-test-pipelines/resources/test-certificate.yaml
          sleep 10s
          kubectl apply -f qubership-test-pipelines/resources/test-clusterissuer.yaml
          echo "::endgroup::"
          echo "::group::Get cert-manager resources"
          kubectl get pods -n cert-manager
          kubectl get secrets -n cert-manager
          kubectl get certificates -A
          echo "::endgroup::"
          echo "::group::Get clusterissuer"
          kubectl get clusterissuer
          kubectl get clusterissuer test-clusterissuer -o yaml
          echo "::endgroup::"
          echo "::group::Add secrets to template"
          python qubership-test-pipelines/scripts/add_secrets_for_s3.py \
          --path_to_file='qubership-test-pipelines/templates/consul-service/consul_clean_all_on_sc_drd_s3_tls.yml' \
          --key_id='${{secrets.AWS_S3_ACCESS_KEY_ID}}' \
          --secret_key='${{secrets.AWS_S3_ACCESS_KEY_SECRET}}'
          echo "::endgroup::"
      # == End ======= Specific steps for S3-TLS =======

      # == 02 Start ======= Common steps for all tests =======
      - name: Install Consul [${{ matrix.test.install_version }}]
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: ${{ matrix.test.template }}
          service_branch: '${{ matrix.test.install_version }}'
          service_name: consul
          repository_name: '${{ inputs.repository_name }}'
          path_to_chart: 'charts/helm/consul-service'
          namespace: consul
          restricted: ${{ matrix.test.restricted }}
      - name: Verify Consul installation
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          namespace: consul
          test_completion_max_retries: 50
          test_completion_retry_interval: 10s
          service_ready_max_retries: 50
          service_ready_retry_interval: 10s
          service_branch: ${{ matrix.test.install_version }}
          check_tests: true
          artifact_name: Installation_${{ matrix.test.artifact_name }}
      - name: Delete status-provisioner job
        shell: bash
        run: kubectl delete job consul-status-provisioner -n consul
      # == 02 End ======= Common steps for all tests =======

      # == Start ======= Specific steps for S3 =======
      - name: Add secrets to template
        if: matrix.test.sequence == 'upgrade' && matrix.test.backend == 's3'
        shell: bash
        run: >-
          python qubership-test-pipelines/scripts/add_secrets_for_s3.py
          --path_to_file='qubership-test-pipelines/templates/consul-service/consul_clean_all_on_sc_drd_s3.yml'
          --key_id='${{secrets.AWS_S3_ACCESS_KEY_ID}}'
          --secret_key='${{secrets.AWS_S3_ACCESS_KEY_SECRET}}'
      # == End ======= Specific steps for S3 =======

      # == Start ======= Specific steps for upgrade tests =======
      - name: Upgrade to [${{ matrix.test.upgrade_version }}]
        if: matrix.test.sequence == 'upgrade'
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: ${{ matrix.test.upgrade_template }}
          service_branch: '${{ matrix.test.upgrade_version }}'
          deploy_mode: upgrade
          service_name: consul
          repository_name: ${{ inputs.repository_name }}
          path_to_chart: charts/helm/consul-service
          namespace: consul
          restricted: ${{ matrix.test.restricted }}

      - name: Sleep 90s after update
        if: matrix.test.sequence == 'upgrade'
        run: sleep 90s
      - name: Verify Consul upgrade
        if: matrix.test.sequence == 'upgrade'
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          namespace: consul
          test_completion_max_retries: 50
          test_completion_retry_interval: 10s
          service_ready_max_retries: 50
          service_ready_retry_interval: 10s
          service_branch: ${{ matrix.test.upgrade_version }}
          check_tests: true
          artifact_name: Upgrade_${{ matrix.test.artifact_name }}
      # == End ======= Specific steps for upgrade tests =======

  final-status-check:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: [Consul-Test-Cases]
    steps:
      - name: Checkout pipeline
        uses: actions/checkout@v5
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: 'netcracker/qubership-test-pipelines'
          path: 'qubership-test-pipelines'
      - name: Check job status
        uses: ./qubership-test-pipelines/actions/shared/check_job_status
        with:
          job_result: ${{ needs.Consul-Test-Cases.result }}
