name: Logging Tests

on:
  workflow_call:
    inputs:
      service_branch:
        required: false
        type: string
      versions_file:
        description: 'Path to versions list file'
        type: string
        required: true
      pipeline_branch:
        description: 'Test pipeline branch name'
        type: string
        required: true
      runner_type:
        description: 'Runner type (self-hosted or ubuntu-latest)'
        type: string
        required: false
        default: 'ubuntu-latest'
      opensearch_version:
        type: string
        required: true
        default: 'release-2025.2-1.14.4'
jobs:
  prepare-versions:
    runs-on: ${{ inputs.runner_type }}
    outputs:
      versions: ${{ steps.process-versions.outputs.versions }}
      previous_version: ${{ steps.process-versions.outputs.previous_version }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: '${{ inputs.service_branch }}'
          repository: 'Netcracker/qubership-logging-operator'
          path: 'qubership-logging-operator'
      - name: Process versions file
        id: process-versions
        run: |
          versions_str=$(cat qubership-logging-operator/${{ inputs.versions_file }})
          versions_json=$(echo $versions_str | jq -R -s -c 'split(" ")')
          echo "versions=$versions_json" >> $GITHUB_OUTPUT
          previous_version=$(echo "$versions_json" | jq -r '.[-1]')
          echo "previous_version=$previous_version" >> $GITHUB_OUTPUT
  Clean-Latest-Graylog-Fluentbit:
    name: Run Integration Tests
    runs-on: ${{ inputs.runner_type }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: 'Netcracker/qubership-test-pipelines'
          path: 'qubership-test-pipelines'

      - name: Create cluster
        uses: ./qubership-test-pipelines/actions/shared/create_cluster

      - name: Install cert-manager
        uses: ./qubership-test-pipelines/actions/shared/install_cert_manager

      - name: Install Opensearch
        uses: ./qubership-test-pipelines/actions/opensearch/helm_deploy_opensearch
        with:
          path_to_template: 'templates/opensearch-service/opensearch_clean_basic_for_logging.yaml'
          service_branch: '${{ inputs.opensearch_version }}'
          path_to_chart: 'charts/helm/opensearch-service1111'

      # - name: Check opensearch deployment status
      #   uses: ./qubership-test-pipelines/actions/opensearch/verify_installation
      #   with:
      #     service_branch: '${{ inputs.opensearch_version }}'

      # - name: Install logging-operator
      #   uses: ./qubership-test-pipelines/actions/logging/helm_deploy_logging
      #   with:
      #     path_to_template: 'templates/logging-operator/logging_clean_graylog_fluentbit.yaml'
      #     service_branch: ${{ inputs.service_branch }}

      # - name: Check logging-operator status
      #   uses: ./qubership-test-pipelines/actions/logging/verify_installation_logging
      #   with:
      #     service_branch: ${{ inputs.service_branch }}


