name: Monitoring Tests

on:
  workflow_call:
    inputs:
      service_branch:
        required: false
        type: string
      versions_file:
        description: 'Path to versions list file'
        type: string
        required: true
      pipeline_branch:
        description: 'Test pipeline branch name'
        type: string
        required: true
      runner_type:
        description: 'Runner type (self-hosted or ubuntu-latest)'
        type: string
        required: false
        default: 'ubuntu-latest'
      certs_dir:
        description: 'Path to certificates directory'
        type: string
        required: false
        default: 'resources/monitoring/certs'
      values_file:
        description: 'Path to generated values file'
        type: string
        required: false
        default: 'templates/monitoring/generated-ingress-values.yaml'

jobs:
  prepare-versions:
    runs-on: ${{inputs.runner_type}}
    outputs:
      versions: ${{steps.process-versions.outputs.versions}}
      previous_version: ${{steps.process-versions.outputs.previous_version}}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: '${{inputs.service_branch}}'
          repository: 'Netcracker/qubership-monitoring-operator'
          path: 'qubership-monitoring-operator'
      - name: Process versions file
        id: process-versions
        # language=bash
        run: |
          versions_str=$(cat qubership-monitoring-operator/${{inputs.versions_file}})
          versions_json=$(echo $versions_str | jq -R -s -c 'split(" ")')
          echo "versions=$versions_json" >> $GITHUB_OUTPUT
          previous_version=$(echo "$versions_json" | jq -r '.[-1]')
          echo "previous_version=$previous_version" >> $GITHUB_OUTPUT
  build-matrix:
    name: Generate Ingress Matrix
    runs-on: ${{ inputs.runner_type }}
    outputs:
      matrix: ${{ steps.matrix_gen.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: 'Netcracker/qubership-test-pipelines'
          path: 'qubership-test-pipelines'
      - uses: ./qubership-test-pipelines/actions/monitoring/ingress/generate_matrix
        id: matrix_gen
  test-stacks-ingress:
    name: ${{ matrix.scenario.title }}
    needs: build-matrix
    runs-on: ${{ inputs.runner_type }}
    env:
      NAMESPACE: monitoring
    strategy:
      matrix:
        scenario:
          - id: prometheus
            title: Test Prometheus stack ingresses
            stack: prometheus
            vmauth_enabled: 'false'
          - id: vm-with-vmauth
            title: Test VM stack ingresses (VmAuth enabled)
            stack: victoriametrics
            vmauth_enabled: 'true'
          - id: vm-without-vmauth
            title: Test VM stack ingresses (VmAuth disabled)
            stack: victoriametrics
            vmauth_enabled: 'false'
    steps:
      - uses: actions/checkout@v4
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: 'Netcracker/qubership-test-pipelines'
          path: 'qubership-test-pipelines'
      - name: Create cluster
        uses: ./qubership-test-pipelines/actions/shared/create_cluster
      - name: Install cert-manager
        uses: ./qubership-test-pipelines/actions/shared/install_cert_manager
      - name: Generate values.yaml for stack
        uses: ./qubership-test-pipelines/actions/monitoring/ingress/generate_values
        id: generate_values
        with:
          matrix: '${{ needs.build-matrix.outputs.matrix }}'
          values_file: '${{ inputs.values_file }}'
          cert_dir: '${{ inputs.certs_dir }}'
          stack: ${{ matrix.scenario.stack }}
          vmauth_enabled: ${{ matrix.scenario.vmauth_enabled }}
      - name: Install stack
        uses: ./qubership-test-pipelines/actions/monitoring/helm_deploy_monitoring
        with:
          path_to_template: '${{ inputs.values_file }}'
          service_branch: '${{ inputs.service_branch }}'
      - name: Verify ingresses creation
        uses: ./qubership-test-pipelines/actions/monitoring/ingress/verify_ingress
        with:
          matrix: '${{ needs.build-matrix.outputs.matrix }}'
          stack: ${{ matrix.scenario.stack }}
          vmauth_enabled: ${{ matrix.scenario.vmauth_enabled }}
