name: Reusable Opensearch Tests

on:
  workflow_dispatch:
    inputs:
      repository_name:
        description: 'Repository with Opensearch service'
        required: false
        type: string
        default: 'Netcracker/qubership-opensearch'
      service_branch:
        required: false
        type: string
        default: 'main'
      versions_file:
        description: 'Path to versions list file'
        type: string
        required: true
        default: '.github/versions.yaml'
      pipeline_branch:
        description: 'Test pipeline branch name'
        type: string
        required: true
        default: 'main'
      runner_type:
        description: 'Runner type (self-hosted or ubuntu-latest)'
        type: string
        required: false
        default: 'ubuntu-latest'

  workflow_call:
    inputs:
      repository_name:
        description: 'Repository with Opensearch service'
        required: false
        type: string
        default: 'Netcracker/qubership-opensearch'
      service_branch:
        required: false
        type: string
      versions_file:
        description: 'Path to versions list file'
        type: string
        required: true
      pipeline_branch:
        description: 'Test pipeline branch name'
        type: string
        required: true
      runner_type:
        description: 'Runner type (self-hosted or ubuntu-latest)'
        type: string
        required: false
        default: 'ubuntu-latest'
    secrets:
      AWS_S3_ACCESS_KEY_ID:
        required: true
      AWS_S3_ACCESS_KEY_SECRET:
        required: true

jobs:
  prepare:
    runs-on: ${{ inputs.runner_type }}
    outputs:
      versions: ${{ steps.process-versions.outputs.versions }}
      previous_version: ${{ steps.process-versions.outputs.previous_version }}
      matrix: ${{ steps.process-versions.outputs.matrix }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: '${{ inputs.service_branch }}'
          repository: '${{ inputs.repository_name }}'
          path: 'qubership-opensearch'

      - name: Checkout pipeline
        uses: actions/checkout@v5
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: 'netcracker/qubership-test-pipelines'
          path: 'qubership-test-pipelines'

      - name: Process versions file and matrix generation
        id: process-versions
        working-directory: "${{ github.workspace }}/qubership-test-pipelines"
        run: |
          chmod +x ./scripts/matrix.sh
          ./scripts/matrix.sh ${{ github.workspace }}/qubership-opensearch/${{ inputs.versions_file }} ./workflow-config/opensearch.yaml "${{ inputs.service_branch }}"

  Opensearch-Test-Cases:
    needs: prepare
    runs-on: ${{inputs.runner_type}}
    strategy:
      fail-fast: false
      matrix:
        test: ${{ fromJson(needs.prepare.outputs.matrix) }}
    name: ${{ matrix.test.name }}
    env:
      namespace: 'opensearch'
      test_completion_max_retries: 50
      test_completion_retry_interval: '10s'
      service_ready_max_retries: 100
      service_ready_retry_interval: '10s'
      service_branch: ''
      path_to_chart: 'operator/charts/helm/opensearch-service'
    steps:
      # == 01 Start ======= Common pre-steps for all tests =======
      - name: "Print job parameters"
        run: |
          echo "======== Job parameters ======="
          echo "${{ toJson(matrix.test) }}"

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: false
          swap-storage: true

      - name: Checkout pipeline
        uses: actions/checkout@v5
        with:
          ref: '${{inputs.pipeline_branch}}'
          repository: 'netcracker/qubership-test-pipelines'
          path: 'qubership-test-pipelines'

      - name: Create cluster
        uses: ./qubership-test-pipelines/actions/shared/create_cluster
      # == 01 End ======= Common pre-steps for all tests =======

      # == Start ======= Installation steps =======
      - name: Install cert-manager
        if: ${{ matrix.test.tls == true }}
        run: |
          echo "::group::Install cert-manager"
          helm repo add jetstack https://charts.jetstack.io --force-update
          helm upgrade --install cert-manager jetstack/cert-manager --namespace cert-manager \
            --create-namespace --version v1.16.3 --set prometheus.enabled=true   --set crds.enabled=true
          echo "::endgroup::"
          echo "::group::Create cert-manager entities"
          kubectl apply -f qubership-test-pipelines/resources/test-issuer.yaml
          sleep 10s
          kubectl apply -f qubership-test-pipelines/resources/test-certificate.yaml
          sleep 10s
          kubectl apply -f qubership-test-pipelines/resources/test-clusterissuer.yaml
          echo "::endgroup::"
          echo "::group::Get cert-manager resources"
          kubectl get pods -n cert-manager
          kubectl get secrets -n cert-manager
          kubectl get certificates -A
          echo "::endgroup::"
          echo "::group::Get clusterissuer"
          kubectl get clusterissuer
          kubectl get clusterissuer test-clusterissuer -o yaml
          echo "::endgroup::"

      - name: Update YAML secrets
        if: matrix.test.backend == 's3'
        run: |
          python qubership-test-pipelines/scripts/update_yaml.py \
            --file='qubership-test-pipelines/${{ matrix.test.template }}' \
            --path='opensearch/snapshots/s3/keyId' \
            --value='${{secrets.AWS_S3_ACCESS_KEY_ID}}' \
          && python qubership-test-pipelines/scripts/update_yaml.py \
            --file='qubership-test-pipelines/${{ matrix.test.template }}' \
            --path='opensearch/snapshots/s3/keySecret' \
            --value='${{secrets.AWS_S3_ACCESS_KEY_SECRET}}'

      - name: Print clean install deployment parameters
        run: cat qubership-test-pipelines/${{ matrix.test.template }}

      - name: Install Opensearch [${{ matrix.test.install_version }}]
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: '${{ matrix.test.template }}'
          service_branch: '${{ matrix.test.install_version }}'
          restricted: ${{ matrix.test.restricted }}
          service_name: 'opensearch'
          repository_name: '${{ inputs.repository_name }}'
          path_to_chart: ${{ env.path_to_chart }}
          namespace: 'opensearch'

      - name: Get Installed Opensearch CRD name
        uses: ./qubership-test-pipelines/actions/shared/get_crds
        id: install_opensearch_get_crds
        with:
          crd_location: '${{ inputs.repository_name }}/${{ env.path_to_chart }}/crds'

      - name: Verify Opensearch installation [${{ matrix.test.install_version }}]
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          namespace: 'opensearch'
          service_branch: '${{ matrix.test.install_version }}'
          service_ready_max_retries: ${{ env.service_ready_max_retries }}
          service_ready_retry_interval: ${{ env.service_ready_retry_interval }}
          test_completion_max_retries: ${{ env.test_completion_max_retries }}
          test_completion_retry_interval: ${{ env.test_completion_retry_interval }}
          crd_list: ${{ steps.install_opensearch_get_crds.outputs.crd_names }}
          check_tests: true
          artifact_name: Installation_${{ matrix.test.artifact_name }}

      - name: Get Opensearch secrets
        if: ${{ matrix.test.tls == true }}
        run: |
          kubectl get secrets -n opensearch
      # == End ======= Installation steps =======

      # == Start ===== Upgrade steps ============
      - name: Print upgrade deployment parameters
        if: ${{ matrix.test.sequence == 'upgrade' }}
        run: cat qubership-test-pipelines/${{ matrix.test.upgrade_template }}

      - name: Sleep 1m before upgrade
        if: ${{ matrix.test.sequence == 'upgrade' }}
        run: sleep 1m

      - name: Upgrade Opensearch to [${{ matrix.test.upgrade_version }}]
        if: ${{ matrix.test.sequence == 'upgrade' }}
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: '${{ matrix.test.upgrade_template }}'
          service_branch: '${{ matrix.test.upgrade_version }}'
          deploy_mode: upgrade
          restricted: ${{ matrix.test.restricted }}
          service_name: 'opensearch'
          repository_name: '${{ inputs.repository_name }}'
          path_to_chart: '${{ env.path_to_chart }}'
          namespace: 'opensearch'

      - name: Get Upgraded Opensearch CRD name
        if: ${{ matrix.test.sequence == 'upgrade' }}
        uses: ./qubership-test-pipelines/actions/shared/get_crds
        id: upgrade_opensearch_get_crds
        with:
          crd_location: '${{ inputs.repository_name }}/${{ env.path_to_chart }}/crds'

      - name: Sleep 1m after upgrade
        if: ${{ matrix.test.sequence == 'upgrade' }}
        run: sleep 1m

      - name: Verify Opensearch upgrade to [${{ matrix.test.upgrade_version }}]
        if: ${{ matrix.test.sequence == 'upgrade' }}
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          namespace: 'opensearch'
          service_branch: '${{ matrix.test.upgrade_version }}'
          service_ready_max_retries: ${{ env.service_ready_max_retries }}
          service_ready_retry_interval: ${{ env.service_ready_retry_interval }}
          test_completion_max_retries: ${{ env.test_completion_max_retries }}
          test_completion_retry_interval: ${{ env.test_completion_retry_interval }}
          crd_list: ${{ steps.upgrade_opensearch_get_crds.outputs.crd_names }}
          check_tests: true
          artifact_name: Upgrade_${{ matrix.test.artifact_name }}
      # == End ===== Upgrade steps ============

  final-status-check:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: [Opensearch-Test-Cases]
    steps:
      - name: Checkout pipeline
        uses: actions/checkout@v5
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: 'netcracker/qubership-test-pipelines'
          path: 'qubership-test-pipelines'
      - name: Check job status
        uses: ./qubership-test-pipelines/actions/shared/check_job_status
        with:
          job_result: ${{ needs.Opensearch-Test-Cases.result }}
