name: Pgskipper Tests

on:
  workflow_dispatch:
    inputs:
      repository_name:
        description: 'Repository with Pgskipper service'
        required: false
        type: string
        default: 'Netcracker/pgskipper-operator'
      service_branch:
        description: 'Branch of pgskipper-operator repository'
        required: false
        type: string
        default: 'main'
      versions_file:
        description: 'Path to file with version list'
        type: string
        required: true
        default: '.github/versions.yaml'
      pipeline_branch:
        description: 'Branch of qubership-test-pipelines repository'
        type: string
        required: true
        default: 'main'
      runner_type:
        description: 'Runner type (self-hosted or ubuntu-latest)'
        type: string
        required: false
        default: 'ubuntu-latest'
  workflow_call:
    inputs:
      repository_name:
        description: 'Repository with Pgskipper service'
        required: false
        type: string
        default: 'Netcracker/pgskipper-operator'
      service_branch:
        description: 'Branch of pgskipper-operator repository'
        required: false
        type: string
        default: 'main'
      versions_file:
        description: 'Path to file with version list'
        type: string
        required: true
        default: '.github/versions.yaml'
      pipeline_branch:
        description: 'Branch of qubership-test-pipelines repository'
        type: string
        required: true
        default: 'main'
      runner_type:
        description: 'Runner type (self-hosted or ubuntu-latest)'
        type: string
        required: false
        default: 'ubuntu-latest'
    secrets:
      AWS_S3_ACCESS_KEY_ID:
        required: true
      AWS_S3_ACCESS_KEY_SECRET:
        required: true

jobs:
  prepare:
    runs-on: ${{ inputs.runner_type }}
    outputs:
      versions: ${{ steps.process-versions.outputs.versions }}
      previous_version: ${{ steps.process-versions.outputs.previous_version }}
      matrix: ${{ steps.process-versions.outputs.matrix }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: '${{ inputs.service_branch }}'
          repository: '${{ inputs.repository_name }}'
          path: 'pgskipper-operator'

      - name: Checkout pipeline
        uses: actions/checkout@v5
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: '${{ github.repository_owner }}/qubership-test-pipelines'
          path: 'qubership-test-pipelines'

      - name: Process versions file and matrix generation
        id: process-versions
        working-directory: "${{ github.workspace }}/qubership-test-pipelines"
        run: |
          chmod +x ./scripts/matrix.sh
          ./scripts/matrix.sh ${{ github.workspace }}/pgskipper-operator/${{ inputs.versions_file }} ./workflow-config/pgskipper.yaml "${{ inputs.service_branch }}"

  Pgskipper-Test-Cases:
    needs: prepare
    runs-on: ${{ inputs.runner_type }}
    strategy:
      fail-fast: false
      matrix:
        test: ${{ fromJson(needs.prepare.outputs.matrix) }}
    name: ${{ matrix.test.name }}
    steps:
      # == 01 Start ======= Common pre-steps for all tests =======
      - name: "Print job parameters"
        run: |
          echo "======== Job parameters ======="
          echo "${{ toJson(matrix.test) }}"

      - name: Checkout pipeline
        uses: actions/checkout@v5
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: 'netcracker/qubership-test-pipelines'
          path: 'qubership-test-pipelines'

      - name: Free Disk Space (Ubuntu)
        if: inputs.runner_type == 'ubuntu-latest'
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: false
          swap-storage: true

      - name: Create cluster
        uses: ./qubership-test-pipelines/actions/shared/create_cluster
      # == 01 End ======= Common pre-steps for all tests =======

      # == 02 Start ======= Core installation steps =======
      - name: Install Pgskipper Core [${{ matrix.test.install_version }}]
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: '${{ matrix.test.core_template }}'
          service_branch: '${{ matrix.test.install_version }}'
          deploy_mode: 'install'
          restricted: ${{ matrix.test.restricted }}
          service_name: 'pgskipper'
          repository_name: 'Netcracker/pgskipper-operator'
          path_to_chart: 'operator/charts/patroni-core'
          namespace: 'pgskipper'
          resource_folder: ''

      - name: Verify Pgskipper Core installation
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          service_branch: '${{ matrix.test.install_version }}'
          check_tests: '${{ matrix.test.check_core_tests }}'
          artifact_name: 'Core_Installation_${{ matrix.test.artifact_name }}'
          namespace: 'pgskipper'
          service_ready_max_retries: 60
          service_ready_retry_interval: '10s'
          test_completion_max_retries: 60
          test_completion_retry_interval: '10s'
          crd_list: 'patronicores.netcracker.com'
      # == 02 End ======= Core installation steps =======

      # == 03 Start ======= Services installation steps =======
      - name: Install Pgskipper Services [${{ matrix.test.install_version }}]
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: '${{ matrix.test.services_template }}'
          service_branch: '${{ matrix.test.install_version }}'
          service_name: 'pgskipper-services'
          restricted: ${{ matrix.test.restricted }}
          repository_name: 'Netcracker/pgskipper-operator'
          path_to_chart: 'operator/charts/patroni-services'
          namespace: 'pgskipper'

      - name: Verify Pgskipper Services installation
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          service_branch: '${{ matrix.test.install_version }}'
          check_tests: '${{ matrix.test.check_services_tests }}'
          artifact_name: 'Services_Installation_${{ matrix.test.artifact_name }}'
          namespace: 'pgskipper'
          service_ready_max_retries: 60
          service_ready_retry_interval: '10s'
          test_completion_max_retries: 60
          test_completion_retry_interval: '10s'
          crd_list: 'patronicores.netcracker.com'
      # == 03 End ======= Services installation steps =======

      # == Start ======= Specific steps for upgrade tests =======
      - name: Upgrade Pgskipper Core to [${{ matrix.test.upgrade_version }}]
        if: matrix.test.sequence == 'upgrade'
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          deploy_mode: 'upgrade'
          path_to_template: '${{ matrix.test.upgrade_core_template }}'
          service_branch: '${{ matrix.test.upgrade_version }}'
          restricted: ${{ matrix.test.restricted }}
          service_name: 'pgskipper'
          repository_name: 'Netcracker/pgskipper-operator'
          path_to_chart: 'operator/charts/patroni-core'
          namespace: 'pgskipper'
          resource_folder: ''

      - name: Sleep after core upgrade 
        if: matrix.test.sequence == 'upgrade'
        run: sleep 30s

      - name: Verify Pgskipper Core upgrade
        if: matrix.test.sequence == 'upgrade'
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          service_branch: ${{ matrix.test.upgrade_version }}
          check_tests: ${{ matrix.test.check_core_tests }}
          artifact_name: 'Core_Upgrade_${{ matrix.test.artifact_name }}'
          namespace: 'pgskipper'
          service_ready_max_retries: 60
          service_ready_retry_interval: '10s'
          test_completion_max_retries: 60
          test_completion_retry_interval: '10s'
          crd_list: 'patronicores.netcracker.com'

      - name: Upgrade Pgskipper Services to [${{ matrix.test.upgrade_version }}]
        if: matrix.test.sequence == 'upgrade'
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          deploy_mode: upgrade
          path_to_template: '${{ matrix.test.upgrade_services_template }}'
          service_branch: '${{ matrix.test.upgrade_version }}'
          service_name: 'pgskipper-services'
          restricted: ${{ matrix.test.restricted }}
          repository_name: 'Netcracker/pgskipper-operator'
          path_to_chart: 'operator/charts/patroni-services'
          namespace: 'pgskipper'

      - name: Sleep after services upgrade
        if: matrix.test.sequence == 'upgrade'
        run: sleep 30s

      - name: Verify Pgskipper Services upgrade
        if: matrix.test.sequence == 'upgrade'
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          service_branch: '${{ matrix.test.upgrade_version }}'
          check_tests: '${{ matrix.test.check_services_tests }}'
          artifact_name: 'Services_Upgrade_$_${{ matrix.test.artifact_name }}'
          namespace: 'pgskipper'
          service_ready_max_retries: 60
          service_ready_retry_interval: '10s'
          test_completion_max_retries: 60
          test_completion_retry_interval: '10s'
          crd_list: 'patronicores.netcracker.com'
      # == End ======= Specific steps for upgrade tests =======

      # == Start ======= Diagnostic steps =======
      - name: Collect diagnostic information
        if: always()
        run: |
          echo "::group::Describe nodes"
          kubectl describe nodes
          echo "::endgroup::"
          echo "::group::Get events"
          kubectl get events --sort-by=.metadata.creationTimestamp -n pgskipper
          echo "::endgroup::"
          echo "::group::Get pods"
          kubectl get pods -n pgskipper -o wide
          echo "::endgroup::"
      # == End ======= Diagnostic steps =======
