name: Reusable RabbitMQ Tests

on:
  workflow_dispatch:
    inputs:
      repository_name:
        description: 'Repository with RabbitMQ service'
        required: false
        type: string
        default: 'Netcracker/qubership-rabbitmq'
      service_branch:
        description: 'Branch of qubership-rabbitmq repository'
        required: false
        type: string
        default: 'main'
      versions_file:
        description: 'Path to file with version list'
        type: string
        required: true
        default: '.github/versions.yaml'
      pipeline_branch:
        description: 'Branch of qubership-test-pipelines repository'
        type: string
        required: true
        default: 'main'
      runner_type:
        description: 'Runner type (self-hosted or ubuntu-latest)'
        type: string
        required: false
        default: 'ubuntu-latest'
  workflow_call:
    inputs:
      repository_name:
        description: 'Repository with RabbitMQ service'
        required: false
        type: string
        default: 'Netcracker/qubership-rabbitmq'
      service_branch:
        required: false
        type: string
      versions_file:
        description: 'Path to versions list file'
        type: string
        required: true
      pipeline_branch:
        description: 'Test pipeline branch name'
        type: string
        required: true
      runner_type:
        description: 'Runner type (self-hosted or ubuntu-latest)'
        type: string
        required: false
        default: 'ubuntu-latest'
    secrets:
      AWS_S3_ACCESS_KEY_ID:
        required: true
      AWS_S3_ACCESS_KEY_SECRET:
        required: true

jobs:
  prepare:
    runs-on: ${{ inputs.runner_type }}
    outputs:
      versions: ${{ steps.process-versions.outputs.versions }}
      previous_version: ${{ steps.process-versions.outputs.previous_version }}
      matrix: ${{ steps.process-versions.outputs.matrix }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: '${{ inputs.service_branch }}'
          repository: '${{ inputs.repository_name }}'
          path: 'qubership-rabbitmq'

      - name: Checkout pipeline
        uses: actions/checkout@v5
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: 'netcracker/qubership-test-pipelines'
          path: 'qubership-test-pipelines'

      - name: Process versions file and matrix generation
        id: process-versions
        working-directory: "${{ github.workspace }}/qubership-test-pipelines"
        run: |
          chmod +x ./scripts/matrix.sh
          ./scripts/matrix.sh ${{ github.workspace }}/qubership-rabbitmq/${{ inputs.versions_file }} ./workflow-config/rabbitmq.yaml "${{ inputs.service_branch }}"

  RabbitMQ-Test-Cases:
    runs-on: ${{inputs.runner_type}}
    needs: prepare
    strategy:
      fail-fast: false
      matrix:
        test: ${{ fromJson(needs.prepare.outputs.matrix) }}
    env:
      test_completion_max_retries: 30
      test_completion_retry_interval: 10s
      service_ready_max_retries: 60
      service_ready_retry_interval: 10s
    name: ${{ matrix.test.name }}
    steps:
      # == Start Common steps ==
      - name: "Print job parameters"
        run: |
          echo "======== Job parameters ======="
          echo "${{ toJson(matrix.test) }}"

      - name: Checkout pipeline
        uses: actions/checkout@v4
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: 'netcracker/qubership-test-pipelines'
          path: 'qubership-test-pipelines'
      - name: Create cluster
        uses: ./qubership-test-pipelines/actions/shared/create_cluster
      #- name: Install Monitoring
        #uses: ./qubership-test-pipelines/actions/monitoring/helm_deploy_monitoring
      # == End Common steps ==

      # == Start Install steps ==
      # TLS setup
      - name: Install cert-manager
        if: matrix.test.tls == true
        run: |
          echo "::group::Install cert-manager"
          helm repo add jetstack https://charts.jetstack.io --force-update
          helm upgrade --install cert-manager jetstack/cert-manager --namespace cert-manager \
            --create-namespace --version v1.16.3 --set prometheus.enabled=true   --set crds.enabled=true
          echo "::endgroup::"
          echo "::group::Create cert-manager entities"
          kubectl apply -f qubership-test-pipelines/resources/test-issuer.yaml
          sleep 10s
          kubectl apply -f qubership-test-pipelines/resources/test-certificate.yaml
          sleep 10s
          kubectl apply -f qubership-test-pipelines/resources/test-clusterissuer.yaml
          echo "::endgroup::"
          echo "::group::Get cert-manager resources"
          kubectl get pods -n cert-manager
          kubectl get secrets -n cert-manager
          kubectl get certificates -A
          echo "::endgroup::"
          echo "::group::Get clusterissuer"
          kubectl get clusterissuer
          kubectl get clusterissuer test-clusterissuer -o yaml
          echo "::endgroup::"

      # S3 secrets setup
      - name: Update YAML secrets
        if: matrix.test.backend == 's3'
        run: |
          python qubership-test-pipelines/scripts/update_yaml.py \
            --file='qubership-test-pipelines/${{ matrix.test.template }}' \
            --path='backupDaemon/s3/keyId' \
            --value='${{secrets.AWS_S3_ACCESS_KEY_ID}}' \
          && python qubership-test-pipelines/scripts/update_yaml.py \
            --file='qubership-test-pipelines/${{ matrix.test.template }}' \
            --path='backupDaemon/s3/keySecret' \
            --value='${{secrets.AWS_S3_ACCESS_KEY_SECRET}}'

      - name: Print install deployment parameters
        run: cat qubership-test-pipelines/${{ matrix.test.template }}

      - name: Clean Install RabbitMQ [${{ matrix.test.install_version }}]
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: '${{ matrix.test.template }}'
          service_branch: '${{ matrix.test.install_version }}'
          restricted: ${{ matrix.test.restricted || false }}
          service_name: 'rabbitmq'
          repository_name: '${{ inputs.repository_name }}'
          path_to_chart: 'operator/charts/helm/rabbitmq'
          namespace: 'rabbitmq'

      - name: Verify RabbitMQ installation
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          namespace: 'rabbitmq'
          test_completion_max_retries: ${{ env.test_completion_max_retries }}
          test_completion_retry_interval: ${{ env.test_completion_retry_interval }}
          service_ready_max_retries: ${{ env.service_ready_max_retries }}
          service_ready_retry_interval: ${{ env.service_ready_retry_interval }}
          service_branch: ${{ matrix.test.install_version }}
          check_tests: true
          artifact_name: Installation_${{ matrix.test.artifact_name }}
      # == End Install steps ==

      # == Start Upgrade steps ==
      - name: Print upgrade deployment parameters
        if: ${{ matrix.test.sequence == 'upgrade' }}
        run: cat qubership-test-pipelines/${{ matrix.test.upgrade_template }}

      - name: Upgrade RabbitMQ to [${{ matrix.test.upgrade_version }}]
        if: ${{ matrix.test.sequence == 'upgrade' }}
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: '${{ matrix.test.upgrade_template }}'
          service_branch: '${{ matrix.test.upgrade_version }}'
          deploy_mode: upgrade
          restricted: ${{ matrix.test.restricted || false }}
          service_name: 'rabbitmq'
          repository_name: '${{ inputs.repository_name }}'
          path_to_chart: 'operator/charts/helm/rabbitmq'
          namespace: 'rabbitmq'

      - name: Sleep 1m after upgrade
        if: ${{ matrix.test.sequence == 'upgrade' }}
        run: sleep 1m

      - name: Verify RabbitMQ upgrade
        if: ${{ matrix.test.sequence == 'upgrade' }}
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          namespace: 'rabbitmq'
          test_completion_max_retries: ${{ env.test_completion_max_retries }}
          test_completion_retry_interval: ${{ env.test_completion_retry_interval }}
          service_ready_max_retries: ${{ env.service_ready_max_retries }}
          service_ready_retry_interval: ${{ env.service_ready_retry_interval }}
          service_branch: ${{ matrix.test.install_version }}
          check_tests: true
          artifact_name: Upgrade_${{ matrix.test.artifact_name }}
      # == End Update steps ==

  final-status-check:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: [RabbitMQ-Test-Cases]
    steps:
      - name: Checkout pipeline
        uses: actions/checkout@v5
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: 'netcracker/qubership-test-pipelines'
          path: 'qubership-test-pipelines'
      - name: Check job status
        uses: ./qubership-test-pipelines/actions/shared/check_job_status
        with:
          job_result: ${{ needs.RabbitMQ-Test-Cases.result }}
