name: Test

on:
  workflow_dispatch:
    inputs:
      service_branch:
        description: 'Branch of qubership-consul repository'
        required: false
        type: string
      versions:
        description: "Space separated string"
        type: string
        required: true
      pipeline_branch:
        description: 'Branch of qubership-test-pipelines repository'
        type: string
        required: false
      runner_type:
        description: 'Runner type (self-hosted or ubuntu-latest)'
        type: string
        required: false
        default: 'ubuntu-latest'
env:
  versions: "${{ toJson(inputs.versions) }}"
  previous_version: ${{ toJson(inputs.versions)[-1] }}
jobs:
  prepare-versions:
    runs-on: ${{inputs.runner_type}}
    steps:
      - name: Process versions file
        run: |
          echo "versions: ${versions}"
          echo "previous_version=${previous_version}"
