name: Zookeeper Tests

on:
  workflow_dispatch:
    inputs:
      repository_name:
        description: 'Zookeeper repository name'
        required: false
        type: string
        default: 'Netcracker/qubership-zookeeper'
      service_branch:
        required: false
        type: string
        default: 'main'
      versions_file:
        description: 'Path to versions list file'
        type: string
        required: true
        default: '.github/versions.yaml'
      pipeline_branch:
        description: 'Test pipeline branch name'
        type: string
        required: true
        default: 'main'
      runner_type:
        description: 'Runner type (self-hosted or ubuntu-latest)'
        type: string
        required: false
        default: 'ubuntu-latest'
  workflow_call:
    inputs:
      repository_name:
        description: 'Zookeeper repository name'
        required: false
        type: string
        default: 'Netcracker/qubership-zookeeper'
      service_branch:
        required: false
        type: string
      versions_file:
        description: 'Path to versions list file'
        type: string
        required: true
      pipeline_branch:
        description: 'Test pipeline branch name'
        type: string
        required: true
      runner_type:
        description: 'Runner type (self-hosted or ubuntu-latest)'
        type: string
        required: false
        default: 'ubuntu-latest'
    secrets:
      AWS_S3_ACCESS_KEY_ID:
        required: true
      AWS_S3_ACCESS_KEY_SECRET:
        required: true

env:
  namespace: zookeeper
  test_completion_max_retries: 60
  test_completion_retry_interval: '10s'
  service_ready_max_retries: 150
  service_ready_retry_interval: '10s'
  crd_list: 'zookeeperservices.netcracker.com'

jobs:
  prepare:
    runs-on: ${{ inputs.runner_type }}
    outputs:
      versions: ${{ steps.process-versions.outputs.versions }}
      previous_version: ${{ steps.process-versions.outputs.previous_version }}
      matrix: ${{ steps.process-versions.outputs.matrix }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: '${{ inputs.service_branch }}'
          repository: '${{ inputs.repository_name }}'
          path: 'qubership-zookeeper'

      - name: Checkout pipeline
        uses: actions/checkout@v5
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: '${{ github.repository_owner }}/qubership-test-pipelines'
          path: 'qubership-test-pipelines'

      - name: Process versions file and matrix generation
        id: process-versions
        working-directory: "${{ github.workspace }}/qubership-test-pipelines"
        run: |
          chmod +x ./scripts/matrix.sh
          ./scripts/matrix.sh ${{ github.workspace }}/qubership-zookeeper/${{ inputs.versions_file }} ./workflow-config/zookeeper.yaml "${{ inputs.service_branch }}"

  Kafka-Test-Cases:
    runs-on: ${{ inputs.runner_type }}
    needs: prepare
    strategy:
      fail-fast: false
      matrix:
        test: ${{ fromJson(needs.prepare.outputs.matrix) }}
    name: ${{ matrix.test.name }}
    steps:
      # == 01 Start ======= Common pre-steps for all tests =======
      - name: "Print job parameters"
        run: |
          echo "======== Job parameters ======="
          echo "${{ toJson(matrix.test) }}"
      - name: Checkout pipeline
        uses: actions/checkout@v4
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: '${{ github.repository_owner }}/qubership-test-pipelines'
          path: 'qubership-test-pipelines'
      - name: Create cluster
        uses: ./qubership-test-pipelines/actions/shared/create_cluster
      # == 01 End ======= Common pre-steps for all tests =======

      # == 02 Start ===== Install Zookeeper [LATEST] =====
      - name: "Clean Install Zookeeper ${{ matrix.test.install_version }}"
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: 'templates/zookeeper-service/zookeeper_install_APP_k8s.yml'
          service_branch: '${{ matrix.test.install_version }}'
          deploy_mode: install
          service_name: 'zookeeper-service'
          repository_name: ${{ inputs.repository_name }}
          path_to_chart: 'operator/charts/helm/zookeeper-service'
          namespace: 'zookeeper'

      - name: Verify Zookeeper installation
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          namespace: "${{ env.namespace }}"
          test_completion_max_retries: ${{ env.test_completion_max_retries }}
          test_completion_retry_interval: "${{ env.test_completion_retry_interval }}"
          service_ready_max_retries: ${{ env.service_ready_max_retries }}
          service_ready_retry_interval: "${{ env.service_ready_retry_interval }}"
          service_branch: ${{ matrix.test.install_version }}
          crd_list: "${{ env.crd_list }}"
          artifact_name: "Install_${{ matrix.test.artifact_name }}"
      # == 02 End ===== Install Zookeeper [LATEST] =====

      # == Start Spetial S3 Upgrade step =============================
      - name: Update YAML secrets
        if: matrix.test.sequence == 'upgrade' && matrix.test.storage == 's3'
        run: |
          python qubership-test-pipelines/scripts/update_yaml.py \
            --file='qubership-test-pipelines/templates/zookeeper-service/zookeeper_install_s3_APP_k8s.yml' \
            --path='backupDaemon/s3/keyId' \
            --value='${{secrets.AWS_S3_ACCESS_KEY_ID}}' \
          && python qubership-test-pipelines/scripts/update_yaml.py \
            --file='qubership-test-pipelines/templates/zookeeper-service/zookeeper_install_s3_APP_k8s.yml' \
            --path='backupDaemon/s3/keySecret' \
            --value='${{secrets.AWS_S3_ACCESS_KEY_SECRET}}'
      # == End Spetial S3 step =============================

      # == Start Spetial TLS Upgrade step =============================
      - name: Install cert-manager
        if: matrix.test.sequence == 'upgrade' && matrix.test.tls == true
        run: |
          # Install cert-manager
          echo "::group::Install cert-manager"
          helm repo add jetstack https://charts.jetstack.io --force-update
          helm upgrade --install cert-manager jetstack/cert-manager --namespace cert-manager \
            --create-namespace --version v1.16.3 --set prometheus.enabled=true   --set crds.enabled=true
          echo "::endgroup::"
          echo "::group::Create cert-manager entities"
          kubectl apply -f qubership-test-pipelines/resources/test-issuer.yaml
          sleep 10s
          kubectl apply -f qubership-test-pipelines/resources/test-certificate.yaml
          sleep 10s
          kubectl apply -f qubership-test-pipelines/resources/test-clusterissuer.yaml
          echo "::endgroup::"
          echo "::group::Get cert-manager resources"
          kubectl get pods -n cert-manager
          kubectl get secrets -n cert-manager
          kubectl get certificates -A
          echo "::endgroup::"
          echo "::group:: Get clusterissuer"
          kubectl get clusterissuer
          kubectl get clusterissuer test-clusterissuer -o yaml
          echo "::endgroup::"
      # == End Spetial TLS Upgrade step =============================

      # == 03 Start === Upgrade Zookeeper [LATEST] =====
      - name: Update to [LATEST] Version
        if: matrix.test.sequence == 'upgrade'
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          #combined 2 cases: update params + rollingupdate
          path_to_template: 'templates/zookeeper-service/zookeeper_update_APP_k8s.yml'
          service_branch: '${{ matrix.test.upgrade_version }}'
          deploy_mode: upgrade
          service_name: 'zookeeper-service'
          repository_name: ${{ inputs.repository_name }}
          path_to_chart: 'operator/charts/helm/zookeeper-service'
          namespace: 'zookeeper'
      - name: Sleep 1m
        if: matrix.test.sequence == 'upgrade'
        run: sleep 1m
      - name: Verify Zookeeper upgrade
        if: matrix.test.sequence == 'upgrade'
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          namespace: "${{ env.namespace }}"
          test_completion_max_retries: ${{ env.test_completion_max_retries }}
          test_completion_retry_interval: "${{ env.test_completion_retry_interval }}"
          service_ready_max_retries: ${{ env.service_ready_max_retries }}
          service_ready_retry_interval: "${{ env.service_ready_retry_interval }}"
          service_branch: ${{ matrix.test.install_version }}
          crd_list: "${{ env.crd_list }}"
          artifact_name: "Upgrade_${{ matrix.test.artifact_name }}"
      # == 03 End === Upgrade Zookeeper [LATEST] =====

#############################################################################
#                                                                           #
#############################################################################

  #15-Clean [LATEST] TLS
  Clean-Latest-TLS:
    runs-on: ${{inputs.runner_type}}
    name: Clean [LATEST] TLS
    steps:
      - name: Checkout pipeline
        uses: actions/checkout@v4
        with:
          ref: '${{inputs.pipeline_branch}}'
          repository: '${{ github.repository_owner }}/qubership-test-pipelines'
          path: 'qubership-test-pipelines'
      - name: Create cluster
        uses: ./qubership-test-pipelines/actions/shared/create_cluster
      - name: Install cert-manager
        # language=bash
        run: |
          helm repo add jetstack https://charts.jetstack.io --force-update
          helm upgrade --install cert-manager jetstack/cert-manager --namespace cert-manager \
            --create-namespace --version v1.16.3 --set prometheus.enabled=true   --set crds.enabled=true
      - name: Create cert-manager entities
        # language=bash
        run: |
          kubectl apply -f qubership-test-pipelines/resources/test-issuer.yaml
          sleep 10s
          kubectl apply -f qubership-test-pipelines/resources/test-certificate.yaml
          sleep 10s
          kubectl apply -f qubership-test-pipelines/resources/test-clusterissuer.yaml
      - name: Get cert-manager resources
        # language=bash
        run: |
          kubectl get pods -n cert-manager
          kubectl get secrets -n cert-manager
          kubectl get certificates -A
      - name: Get clusterissuer
        # language=bash
        run: |
          kubectl get clusterissuer
          kubectl get clusterissuer test-clusterissuer -o yaml
      - name: Install Zookeeper [LATEST] TLS
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: 'templates/zookeeper-service/zookeeper_install_tls_APP_k8s.yml'
          service_branch: '${{ inputs.service_branch }}'
          deploy_mode: install
          service_name: 'zookeeper-service'
          repository_name: ${{ inputs.repository_name }}
          path_to_chart: 'operator/charts/helm/zookeeper-service'
          namespace: 'zookeeper'
      - name: Verify installation
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          namespace: "${{ env.namespace }}"
          test_completion_max_retries: ${{ env.test_completion_max_retries }}
          test_completion_retry_interval: "${{ env.test_completion_retry_interval }}"
          service_ready_max_retries: ${{ env.service_ready_max_retries }}
          service_ready_retry_interval: "${{ env.service_ready_retry_interval }}"
          crd_list: "${{ env.crd_list }}"
          service_branch: ${{inputs.service_branch}}
      - name: Get Zookeeper Certs
        uses: ./qubership-test-pipelines/actions/shared/get_certs
        with:
          service_name: zookeeper
          secret_name: zookeeper-tls-secret
          namespace: zookeeper
      - name: Get Backup-Daemon Certs
        uses: ./qubership-test-pipelines/actions/shared/get_certs
        with:
          service_name: zookeeper
          secret_name: zookeeper-backup-daemon-tls-secret
          namespace: zookeeper
      - name: Copy certs to artifacts
        # language=bash
        run: |
          mkdir -p certs_artifacts
          cp ${{runner.temp}}/zookeeper-tls-secret_*.txt certs_artifacts/
          cp ${{runner.temp}}/zookeeper-backup-daemon-tls-secret_*.txt certs_artifacts/
      - name: Upload certs artifacts
        uses: actions/upload-artifact@v4
        with:
          name: zookeeper-certs
          path: certs_artifacts
          retention-days: 1

  #16-Clean [LATEST] TLS Secrets
  Clean-Latest-TLS-Secrets:
    runs-on: ${{ inputs.runner_type }}
    needs: Clean-Latest-TLS
    name: Clean Zookeeper [LATEST] TLS Secrets
    steps:
      - name: Checkout pipeline
        uses: actions/checkout@v4
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: '${{ github.repository_owner }}/qubership-test-pipelines'
          path: 'qubership-test-pipelines'
      - name: Create cluster
        uses: ./qubership-test-pipelines/actions/shared/create_cluster
      - name: Download zookeeper certs artifacts
        uses: actions/download-artifact@v4
        with:
          name: zookeeper-certs
          path: certs_artifacts
      - name: Update secrets
        uses: ./qubership-test-pipelines/actions/shared/add_certs_to_secrets
      - name: Clean Install Zookeeper [LATEST] TLS Secrets
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: 'templates/zookeeper-service/zookeeper_install_tls_secrets.yml'
          service_branch: '${{ inputs.service_branch }}'
          resource_folder: 'resources/zookeeper'
          deploy_mode: install
          service_name: 'zookeeper-service'
          repository_name: ${{ inputs.repository_name }}
          path_to_chart: 'operator/charts/helm/zookeeper-service'
          namespace: 'zookeeper'
      - name: Verify Zookeeper installation
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          namespace: "${{ env.namespace }}"
          test_completion_max_retries: ${{ env.test_completion_max_retries }}
          test_completion_retry_interval: "${{ env.test_completion_retry_interval }}"
          service_ready_max_retries: ${{ env.service_ready_max_retries }}
          service_ready_retry_interval: "${{ env.service_ready_retry_interval }}"
          service_branch: ${{ inputs.service_branch }}
          crd_list: "${{ env.crd_list }}"

  #17-Upgrade [LATEST] TLS Certificates -> Clean [LATEST] TLS Certificates
  Clean-Latest-TLS-Certificates:
    runs-on: ${{ inputs.runner_type }}
    needs: Clean-Latest-TLS
    name: Clean [LATEST] TLS Certificates
    steps:
      - name: Checkout pipeline
        uses: actions/checkout@v4
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: '${{ github.repository_owner }}/qubership-test-pipelines'
          path: 'qubership-test-pipelines'
      - name: Create cluster
        uses: ./qubership-test-pipelines/actions/shared/create_cluster
      - name: Download certs artifacts
        uses: actions/download-artifact@v4
        with:
          name: zookeeper-certs
          path: certs_artifacts
      - name: Update template
        uses: ./qubership-test-pipelines/actions/shared/add_certs_to_template
      - name: Print template
        run: cat qubership-test-pipelines/templates/zookeeper-service/zookeeper_install_tls_certs.yml
      - name: Clean Zookeeper [LATEST] TLS Certificates
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: 'templates/zookeeper-service/zookeeper_install_tls_certs.yml'
          service_branch: '${{ inputs.service_branch }}'
          deploy_mode: install
          service_name: 'zookeeper-service'
          repository_name: ${{ inputs.repository_name }}
          path_to_chart: 'operator/charts/helm/zookeeper-service'
          namespace: 'zookeeper'
      - name: Verify installation
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          service_branch: ${{inputs.service_branch}}
          namespace: "${{ env.namespace }}"
          test_completion_max_retries: ${{ env.test_completion_max_retries }}
          test_completion_retry_interval: "${{ env.test_completion_retry_interval }}"
          service_ready_max_retries: ${{ env.service_ready_max_retries }}
          service_ready_retry_interval: "${{ env.service_ready_retry_interval }}"
          crd_list: "${{ env.crd_list }}"

